.container {
    width: 80vw;
    margin: -6rem auto 0 auto;
    position: relative;
    z-index: 1;
    box-shadow: 0rem 0rem 2rem rgba(#000, 0.2);
    border-radius: 3px;
    background-color: #eee;

    display: flex;
    flex-direction: column;
}

.bg-style {
    height: 30rem;
    background-color: rgb(98, 33, 160);
    clip-path: ellipse(100% 50% at 50% 60%);
    margin-top: -30rem;
    position: relative;
    z-index: -10;
}